---
- name: Make sure swap is off
  ansible.builtin.command: swapoff -a

- name: Remove Old Docker Packages
  ansible.builtin.apt:
    pkg:
      - docker
      - docker.io
      - containerd
      - run
    state: absent

- name: Setup Packages for Docker Repo
  ansible.builtin.apt:
    pkg:
      - apt-transport-https 
      - ca-certificates 
      - curl 
      - software-properties-common 
      - gnupg
      - lsb-release
    state: present

- name: Add Docker GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add stable Docker repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Install Docker CE
  ansible.builtin.apt:
    pkg:
      - docker-ce 
      - docker-ce-cli 
      - containerd.io 
      - docker-compose-plugin
    update_cache: yes

- name: Add user
  ansible.builtin.user:
    name: kube-user
    comment: Kubernetes User
    groups: sudo,docker
    append: yes

- name: Set Docker to use cgroup driver
  ansible.builtin.copy:
    src: daemon.json
    dest: /etc/docker/daemon.json

- name: Create Docker systemd directory
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d 
    state: directory
    mode: '0755'

- name: Restart Docker
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: true
    name: docker

- name: Get Go version                                                                                                                                                                                                    
  ansible.builtin.shell: /root/.go/bin/go version                                                                                                                                                                         
  register: go_installed                                                                                                                                                                                                  
  ignore_errors: true                                                                                                                                                                                                     
                                                                                                                                                                                                                          
- name: Download Go                                                                                                                                                                                                       
  ansible.builtin.get_url:                                                                                                                                                                                                
    url: https://storage.googleapis.com/golang/getgo/installer_linux                                                                                                                                                      
    dest: /tmp/install_linux                                                                                                                                                                                              
    mode: '0755'                                                                                                                                                                                                          
  when: go_installed is failed                                                                                                                                                                                            
                                                                                                                                                                                                                          
- name: Install Go                                                                                                                                                                                                        
  ansible.builtin.shell: /tmp/install_linux                                                                                                                                                                               
  when: go_installed is failed

- name: Clone cri-dockerd
  ansible.builtin.git:
    repo: https://github.com/Mirantis/cri-dockerd.git
    dest: /root/cri-dockerd

- name: Create bin directory
  ansible.builtin.file:
    path: /root/cri-dockerd/bin
    state: directory
    mode: '0755'

- name: Build cri-dockerd 
  ansible.builtin.shell: 
    cmd: export GOPATH=/root/go | /root/.go/bin/go build -o ../bin/cri-dockerd
    chdir: /root/cri-dockerd

- name: Install cri-dockerd
  ansible.builtin.shell:
    cmd: /usr/bin/install -o root -g root -m 0755 bin/cri-dockerd /usr/local/bin/cri-dockerd
    chdir: /root

- name: Copy systemd Files
  ansible.builtin.shell:
    cmd: cp -a /root/cri-dockerd/packaging/systemd/* /etc/systemd/system 

- name: Update systemd files
  ansible.builtin.shell:
    cmd: sed -i -e 's,/usr/bin/cri-dockerd,/usr/local/bin/cri-dockerd,' /etc/systemd/system/cri-docker.service

- name: Systemd daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable cri-docker.service
  ansible.builtin.systemd:
    enabled: true
    name: cri-docker.service

- name: Enable cri-docker.socket
  ansible.builtin.systemd:
    enabled: true
    state: started
    name: cri-docker.socket
  
